body {
   margin: 0;
   /*background: #5A5;/*#2a5*/
   
   background: radial-gradient(circle farthest-side, #5A5, #096);
   overflow: hidden;
   text-align: center;
   box-sizing: border-box;
}

#stage {
   display: flex;
   justify-content: center;
   opacity:0;
   transition:0.5s;
}
#canvasContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#cameraCanvas{
   background-image: linear-gradient(#8cf, white 70%);
}

#verticalButtons {
   display: flex;
   flex-direction: column;
}

button {
   border: none;
   border-radius: 5px;
   padding: 5px 5px 7px 5px;
   margin: 2px;
   cursor: pointer;
}
button:hover {
   background: blue;
}

#networkCanvas {
   background: black;
}
#carCanvas {
   background: radial-gradient(circle farthest-side, #5A5, #096);
   /*background: #5A5;/*#2a5*/
}

#miniMapContainer {
   position: absolute;
   left: 5px;
   bottom: 5px;
}

/* Reset default file input styles */
input[type="file"] {
   display: none;
}

/* Style the label as a button with emoji */
.file-input-label {
   display: inline-block;

   background-color: white;
   text-shadow: 1px 1px black;
   border: none;
   font-size: 20px;
   border-radius: 5px;
   padding: 5px 5px 7px 5px;
   margin: 2px;
   cursor: pointer;
}
.file-input-label:hover {
   background-color: blue;
   color: white; /* Optionally change the text color on hover */
}
/*overwrite*/
button {
   background-color: white;
   text-shadow: 1px 1px black;
   border: none;
   font-size: 20px;
   border-radius: 5px;
   padding: 5px 5px 7px 5px;
   margin: 2px;
   cursor: pointer;
}

select {
   font-size: 20px;
   border-radius: 5px;
   padding: 5px 5px 5px 5px;
   cursor: pointer;
}

.panel {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   flex-direction: column;
   padding: 1000px;
}
label {
   color: white;
   font-family: Arial;
}
input[type="number"] {
   text-align: center;
}

#inspectionSection {
   display: flex;
   flex-direction: row;
}

input[type="range"][orient="vertical"] {
   writing-mode: bt-lr; /* IE */
   -webkit-appearance: slider-vertical; /* Chromium */
   width: 27px;
   height: 175px;
   padding: 0 5px;
}

#goToPanel {
   position: absolute;
   left: 50%;
   top: 20px;
   transform: translate(-50%, 0);
   font-family:Arial;
   font-size:20px;
   width:400px;
   padding:5px;
   border-radius:5px;
   background-color:rgba(255,255,255,0.5);
   font-weight:bold;
   padding-top:9px;

#goingToImg{
   height: 38px;
   margin-top: -1px;
   position: absolute;
   margin-left: -30px;
   background-color:rgba(255,255,255,0.8);
   cursor:pointer;
}